body {
	background-color: #E3F2FD;
}

#display-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 10px;
}

.display {
	height: 30vh;
	width: 30vw;
	
}

.screen-wrapper {
	height: 80%;
	width: 100%;
	border: 1px solid #34495E;
	border-radius: 10px;
	background-color: #5D6D7E;
}

.btn-wrapper {
	display: flex;
	width: 100%;
}

.display button {
	margin: 5px auto;
}